<h1>Book details</h1>
<%= link_to 'Back', books_path %>
<table class="table">
  <tr>
  	<th>Book Id</th>
    <th>Title</th>
    <th>Author ID</th>
  </tr>
  <tr>
    <td><%= @book.id %></td>
    <td><%= @book.title %></td>
    <td><%= @book.author_ids if @book.author_ids.any? %></td>
  </tr>
</table>